/* Estilos para el header */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f0f2f5;
}

.header .logo {
    font-size: 2rem;
    font-weight: bold;
    color: #1877f2;
}

.header .menu {
    display: flex;
}

.header .menu button {
    margin-left: 1rem;
    font-size: 1.1rem;
    padding: 0.25rem 0.75rem;
    vertical-align: middle;
    background-color: #f0f2f5;
    color: #1c1e21;
    border: none;
}

.header .menu button:hover {
    color: #1877f2;
}

/* Estilos para la sección principal */
section {
    max-width: 450px;
    margin: 15px auto;
    padding: 2rem;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.slogan {
    font-size: 2em;
    text-align: center;
    margin: 2rem 0;
    color: #1c1e21;
    text-shadow: 1.5px 1.5px 3.5px rgba(0, 0, 0, 0.4);
    animation: fadeIn 2s;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.degree-icon {
    display: block;
    margin: 1rem auto;
    max-width: 150px;
    width: 100%;
}

.search-section {
    display: flex;
    justify-content: center;
    margin: 2rem 0;
}

.search-form {
    display: flex;
    align-items: center;
    background-color: #f0f2f5;
    border-radius: 25px;
    padding: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.search-form label {
    margin-right: 1rem;
    color: #1c1e21;
}

.search-form input {
    border: none;
    outline: none;
    padding: 8px;
    font-size: 16px;
    flex-grow: 1;
    border-radius: 20px;
    background-color: #ffffff;
    color: #1c1e21;
}

.search-form button {
    background-color: #1877f2;
    color: white;
    border: none;
    padding: 8px 16px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 20px;
    margin-left: 1rem;
}

.search-form button:hover {
    background-color: #1255d5;
}

/* Estilos para los recuadros de los tutores */

.tutor-card {
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s;
    border-color: #9ec4f5; /* Nuevo color de borde azul 1877f2*/
    border-width: 2px; /* Ajusta el grosor del borde */
}

.tutor-card:hover {
    background-color: #9ec4f5;
    color: white;
}

.tutor-link {
    display: block;
    text-decoration: none;
    color: inherit;
}

.tutor-card:hover .badge-info {
    color: #9ec4f5;
    background-color: white;
}

.common-tags {
    font-size: 1.2em;
    font-weight: bold;
    text-align: center;
    margin: 2rem 0;
    color: #1c1e21;
}

.common-tags a {
    font-size: 1.1em;
    margin: 0.25rem;
    padding: 0.5rem 1rem;
}