<!-- Heredar de la plantilla base -->
{% extends 'core/base.html' %}

<!-- Definir titulo de la pagina -->
{% block title %}
TutoUN - Contacto
{% endblock %}

<!-- Cargar archivos estaticos -->
{% load static %}


{% block head_extra %}
<link rel="stylesheet" href="/static/css/home.css">
{% endblock %}

<!-- Contenido propio de la vista -->
{% block content %}
<div style="padding: 15px;">
    <div class="row mb-2 posts">

        <!-- Tarjeta desarrollador Federico guerrero -->
        <div class="col-md-6">
            <div class="cards">
                <a href="https://github.com/federicoGuerrerot">
                    <div class="row no-gutters border rounded flex-md-row mb-4 shadow-sm h-md-250 tutor-card" id="desarrollador-card-1" href="https://github.com/federicoGuerrerot">
                        <div class="col p-4 d-flex flex-column position-static">
                            <h3 class="my-1"> Federo Guerrero Trejos </h3>
                            <p class="mb-auto text-muted"> fguerrerot@unal.edu.co </p>
                            <div style="display:flex">
                                <p>Estudiante de ingenieria en sistemas e informatica de la universidad Nacional de
                                    Colombia.</p>
                            </div>

                        </div>
                    </div>
                </a>
            </div>
        </div>

        <!-- Tarjeta desarrollador Juan Jose Ospina -->
        <div class="col-md-6">
            <div class="cards">
                <a href="https://github.com/JuanOspina05">
                    <div class="row no-gutters border rounded flex-md-row mb-4 shadow-sm h-md-250 tutor-card" id="desarrollador-card-1" href="https://github.com/JuanOspina05">
                        <div class="col p-4 d-flex flex-column position-static">
                            <h3 class="my-1"> Juan David Ospina Erazo </h3>
                            <p class="mb-auto text-muted"> juospinae@unal.edu.co </p>
                            <div style="display:flex">
                                <p>Estudiante de ingenieria en sistemas e informatica de la universidad Nacional de
                                    Colombia.</p>
                            </div>

                        </div>
                    </div>
                </a>
            </div>
        </div>
        
    </div>
</div>
{% endblock %}