{% extends 'core/base.html' %}

{% block title %}
    TutoUN - Página principal
{% endblock %}

{% block content %}
    <style>
        .slogan {
            font-size: 2em;
            text-align: center;
            margin: 2rem 0;
            text-shadow: 1.5px 1.5px 3.5px rgba(0, 0, 0, 0.4);
            animation: fadeIn 2s;
        }

        @keyframes fadeIn {
            0% {
                opacity: 0;
            }
            100% {
                opacity: 1;
            }
        }

        .degree-icon {
            display: block;
            margin: 1rem auto;
            max-width: 150px;
            width: 100%;
        }

        .search-section {
            display: flex;
            justify-content: center;
            margin: 2rem 0;
        }

        .search-form {
            display: flex;
            align-items: center;
            background-color: white;
            border-radius: 25px;
            padding: 8px;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
        }

        .search-form label {
            margin-right: 1rem;
        }

        .search-form input {
            border: none;
            outline: none;
            padding: 8px;
            font-size: 16px;
            flex-grow: 1;
            border-radius: 20px;
        }

        .search-form button {
            background-color: #3787dd;
            color: white;
            border: none;
            padding: 8px 16px;
            font-size: 16px;
            cursor: pointer;
            border-radius: 20px;
            margin-left: 1rem;
        }

        .search-form button:hover {
            background-color: #2a5a96;
        }
    </style>

    <div class="slogan">TutoUN el lugar que te conecta con el aprendizaje</div>
    <img class="degree-icon" src="../../../static/grado.png" alt="Grado icon">
    <div class="search-section">
        <form class="search-form" action="/search/" method="GET">
            <label for="search-input">Buscar tutores por temática:</label>
            <input type="text" id="search-input" name="search" placeholder="Ejemplo: Matemáticas" required>
            <button type="submit">Buscar</button>
        </form>
    </div>
{% endblock %}
