<!-- Heredar características de plantilla base -->
{% extends 'core/base.html' %}

<!-- Agregar título a la página -->
{% block title %}
TutoUN - Página principal
{% endblock %}

<!-- Cargar archivos estáticos, incluye elementos js y css -->
{% load static %}

<!-- Verificar si se puede retirar -->
{% block head_extra %}
<link rel="stylesheet" href="/static/css/home.css">
{% endblock %}

<!-- Agregar contenido propio de la vista -->
{% block content %}

<div class="container my-5">

    <div class="card">
        <div class="card-body">

            <!-- Formulario para agregar comentarios y calificación al usuario -->
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
            
                <!-- Nombre del usuario a calificar -->
                <h3 class="card-title mb-4">{{ comentario.titular.nombre }}</h3>
            
                <!-- Campo para agregar calificación -->
                <div class="mb-3">
                    <label for="{{ form.calificacion.id_for_label }}" class="form-label">Calificación</label>
                    <input type="number" min="1" max="5" class="form-control" id="{{ form.calificacion.id_for_label }}" name="{{ form.calificacion.html_name }}" value="{{ form.nombre.value|default:'' }}">
                </div>
            
                <!-- Campo para agregar comentario -->
                <div class="mb-3">
                    <label for="{{ form.comentario.id_for_label }}" class="form-label">Comentario</label>
                    <textarea class="form-control" id="{{ form.comentario.id_for_label }}" name="{{ form.comentario.html_name }}" value="{{ form.nombre.value|default:'' }}"></textarea>
                </div>
            
                <!-- Botón -->
                <div class="d-grid gap-2">
                    <button type="submit" class="btn btn-primary">Enviar</button>
                </div>

            </form>

        </div>
    </div>

</div>

{% endblock %}
