<!-- Heredar caracteristicas de plantilla base -->
{% extends 'core/base.html' %}

<!-- Definir titulo de la pagina -->
{% block title %}
TutoUN - Página principal
{% endblock %}

<!-- Cargar archivos estaticos, incluye js y css -->
{% load static %}

{% block head_extra %}
<link rel="stylesheet" href="/static/css/home.css">
{% endblock %}

<!-- Agregar contenido propio de la vista -->
{% block content %}

<div class="container mt-5">

    <!-- Mensaje en caso de que no existan comentarios -->
    {% if mensaje %}
    <div class="alert alert-info" role="alert">
        {{ mensaje }}
    </div>
    {% endif %}

    <!-- Calificación del usuario -->
    <div class="card text-center mb-5">
        <div class="card-header">
            Tu calificación
        </div>
        <div class="card-body">
            <h5 class="card-title">{{ request.user.calificacion }}</h5>
        </div>
    </div>

    <!-- Comentarios pendientes por realizar de tutorias terminadas -->
    {% if pendientes %}
    <h2 class="text-center mb-4">Deja tus comentarios</h2>
    <div class="row">
        {% for pendiente in pendientes %}
        <div class="col-md-6 mb-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{pendiente.titular.nombre}}</h5>
                    <p class="card-text text-muted">Descripción: {{pendiente.titular.descripcion}}</p>
                    <a href="{% url 'calificar' pendiente.id %}" class="btn btn-primary">Calificar</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    {% endif %}

    <!-- Comentarios dirigidos al usuario -->
    {% if comentarios %}
    <h2 class="text-center mb-4">Tus comentarios</h2>
    <div class="row">
        {% for comentario in comentarios %}
        <div class="col-md-6 mb-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{comentario.fuente.nombre}}</h5>
                    <p class="card-text">Calificación: {{ comentario.calificacion }}</p>
                    <p class="card-text text-muted">{{comentario.comentario}}</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    {% endif %}
    
</div>

{% endblock %}
