{% extends 'core/base.html' %}

{% block title %}
Iniciar sesión - TutoUN
{% endblock %}

{% load static %}

{% block content %}
<style>
    .login-icon {
        width: 60px;
        height: auto;
        margin-bottom: 0px;
    }

    .login-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 15px auto;
        min-height: 80vh;
        background-color: white;
        max-width: 435px;
        border-radius: 12px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
        padding: 2rem;
    }

    h1 {
        font-size: 1.8em;
        margin-bottom: 1.5rem;
    }

    .login-container form {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .login-container label {
        margin: 0.5rem 0;
        font-weight: bold;
    }

    .login-container input {
        margin-bottom: 0.5rem;
        padding: 0.75rem;
        border: 1px solid #ccc;
        border-radius: 6px;
        font-size: 16px;
    }

    .login-container button {
        background-color: #007bff;
        color: white;
        border: none;
        padding: 0.75rem;
        cursor: pointer;
        margin-bottom: 1rem;
        margin-top: 1rem;
        border-radius: 6px;
        font-size: 16px;
    }

    .login-container button:hover {
        background-color: #0056b3;
    }
</style>
<div class="login-container">
    <img src="{% static 'grado.png' %}" alt="Icon" class="login-icon">
    <h1>Recuperar Contraseña</h1>
    <p class="center">
        Ingrese su nueva contraseña.
    </p>
    <form method="post">
        {% csrf_token %}
        <div class="form-group">
            {% for field in form %}
            <p>
                {{ field.label_tag }}
                {{ field }}

                {% if field.help_text %}
                <small class="form-text text-muted">
                    <p>{{ field.help_text }}</p>
                </small>
                {% endif %}

                {% if field.errors %}
            <div class="alert alert-danger" role="alert">
                {% for error in field.errors %}
                {{ error }}</br>
                {% endfor %}
            </div>
            {% endif %}

            </p>
            {% endfor %}

        </div>
        <button type="submit">Enviar</button>

    </form>
</div>

{% endblock %}