{% extends 'core/base.html' %}

{% block title %}
Política de privacidad - TutoUN
{% endblock %}

{% block content %}
<h1>Política de Privacidad</h1>
<p>Última actualización: (09/06/2023)</p>

<p>En TutoUN, la privacidad de nuestros visitantes es extremadamente importante para nosotros. Este documento de Política de Privacidad describe los tipos de información personal que TutoUN recopila y cómo se utiliza.</p>

<h2>Información personal</h2>
<p>Recopilamos información personal como nombres, direcciones de correo electrónico, etc. cuando dicha información es voluntariamente enviada por nuestros visitantes. La información que nos proporcionas se utiliza para procesar transacciones, enviar correos electrónicos periódicos y mejorar el servicio que te ofrecemos. No compartimos esta información con terceros.</p>

<h2>Archivos de registro</h2>
<p>Como muchos otros sitios web, TutoUN utiliza archivos de registros. Usamos esta información para analizar tendencias, administrar el sitio, rastrear el movimiento de los usuarios en el sitio y recopilar información demográfica.</p>

<p>Si necesitas más información o tienes alguna pregunta sobre nuestra política de privacidad, no dudes en contactarnos.</p>
{% endblock %}
