{% extends 'core/base.html' %}
{% load i18n %}
{% block title %}
    Iniciar sesión - TutoUN
{% endblock %}

{% load static %}

{% block content %}

    <style>
.signup-icon {
  width: 60px;
  height: auto;
  margin-bottom: 0px;
}

.signup-form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.form-group {
  margin: 0.5rem 0;
}

.form-label {
  font-weight: bold;
}

.form-input {
  margin-bottom: 0.5rem;
  padding: 0.75rem;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 16px;
}

.signup-button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 0.75rem;
  cursor: pointer;
  margin-bottom: 1rem;
  margin-top: 1rem;
  border-radius: 6px;
  font-size: 16px;
}

.signup-button:hover {
  background-color: #0056b3;
}

.social-login-buttons {
  display: flex;
  justify-content: space-between;
  margin: 1rem 0;
}

.social-login-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.75rem 1.25rem;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  border-radius: 6px;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  transition: background-color 0.2s;
}

.icon {
  width: 24px;
  height: auto;
  margin-right: 8px;
  vertical-align: middle;
}

.facebook-button {
  color: white;
  background-color: #3B5998;
}

.facebook-button:hover {
  color: white;
  background-color: #304572;
}

.google-button {
  color: #444;
  background-color: #F4F4F4;
}

.google-button:hover {
  background-color: #cbcbcb;
}

.extra-links {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.extra-links a {
  text-decoration: none;
  color: #007bff;
  font-weight: bold;
}

.extra-links a:hover {
  text-decoration: underline;
}

.signup-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 15px auto;
  min-height: 80vh;
  background-color: white;
  max-width: 435px;
  border-radius: 12px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  padding: 2rem;
}

h1 {
  font-size: 1.8em;
  margin-bottom: 1.5rem;
}

.error-message {
  color: red;
  text-align: center;
  font-weight: bold;
  margin-bottom: 1rem;
}

@media (max-width: 500px) {
  .signup-container {
    max-width: 95%;
  }
}


    </style>

    <div class="signup-container">
        <img src="{% static 'grado.png' %}" alt="Icon" class="signup-icon">
        <h1>Registrarse</h1>
        <form method="POST" action="{% url 'users:signup' %}" class="signup-form">
            {% csrf_token %}
            <div class="form-group">
              {% for field in form %}
              <p>
                {{ field.label_tag }}
                {{ field }}
                <!-- {% trans 'I have read and accept the' %} -->
      
              {% if field.help_text %}
              <small class="form-text text-muted"><p>{{ field.help_text }}</p></small>
              {% endif %}
      
              {% if field.errors %}
              <div class="alert alert-danger" role="alert">
                  {% for error in field.errors %}
                      {{ error }}</br>
                  {% endfor %}
              </div>
              {% endif %}
      
              </p>
              {% endfor %}
      
            </div>
            <div>
              <button type="submit" class="signup-button">Registrarse</button>
            </div>
        </form>
        <div class="social-login-buttons">
            <a href="#" class="social-login-button facebook-button">
                <img src="{% static 'facebook.png' %}" alt="Facebook icon" class="icon"> Facebook
            </a>
            <a href="#" class="social-login-button google-button">
                <img src="{% static 'google.png' %}" alt="Google icon" class="icon"> Google
            </a>            
        </div>

    </div>

{% endblock %}

