{% extends 'core/base.html' %}

{% block title %}
TutoUN - Tutorias
{% endblock %}

{% load static %}

{% block content %}

<div class="columns is-mobile" style="padding: 15px;">
    <div class="column is-one-quarter">
        <aside class="menu">
            <h1 class="title is-2">
                Tutorias
            </h1>
            <ul style="overflow-y: scroll; height: 500px" class="menu-list">

                {% for chat in chats %}

                <a class="{% if chatActivo == chat.Usuario.username %}is-active{% endif %}"
                    href="{% url 'directs' chat.Usuario.email chat.tutoria.id %}">
                    <div class="box">
                        <article class="media">
                            <div class="media-left">
                                <figure class="image is-64x64">
                                    {% if chat.Usuario.foto_perfil %}
                                    <img src="{{ chat.Usuario.foto_perfil.url }}" class="foto"
                                        alt="Foto de perfil del tutor"
                                        style="max-width: 96px; height: auto; border-radius: 50%;">
                                    {% else %}
                                    <img src="https://bulma.io/images/placeholders/96x96.png" alt="Placeholder image">
                                    {% endif %}
                                </figure>
                            </div>
                            <div class="media-content">

                                <div class="content">
                                    <p>
                                        <strong>{{ chat.Usuario.nombre }}</strong> <small>-{{ chat.Usuario.email}}</small>
                                    </p>
                                </div>

                                <div class="content">
                                    {% if chat.leido %}
                                    <p style="font-weight: bold; color: red;">
                                        <i class="material-icons">mark_chat_unread</i> {{ chat.leido }}
                                    </p>
                                    {% endif %}
                                </div>
                                {% if chat.tutoria.tutor == user %}
                                <a href="{% url 'aceptarTutoria' chat.tutoria.id %}" class="button is-success">Aceptar Tutoria</a>
                                <a href="{% url 'rechazarTutoria' chat.tutoria.id %}" class="button is-danger">Rechazar Tutoria</a>
                                {% endif %}
                                <a href="{% url 'eliminarTutoria' chat.tutoria.id %}">Eliminar tutoria</a>
                            </div>
                        </article>
                    </div>
                </a>
                {% endfor %}

            </ul>
        </aside>
    </div>

    <div class="column">

        <div style="overflow-y: scroll; height: 500px">
            <h1>Estado: {{tutoriaActiva.estado}}</h1>
            {% for mensaje in mensajes %}
            <div class="box">
                <article class="media">
                    <div class="media-left">
                    </div>
                    <div class="media-content">
                        <div class="content">
                            <p>
                                <strong>{{ mensaje.emisor.nombre }}</strong> <small>@{{ mensaje.emisor.email }}</small> on:
                                <strong><small>{{ mensaje.fecha|date:'N d G:i' }}</small></strong>
                            </p>
                            {{ mensaje.cuerpo }}
                        </div>
                    </div>
                </article>
            </div>
            {% endfor %}


        </div>


        <form role="form" method="POST" action="{% url 'enviar' %}">
            {% csrf_token %}
            <article class="media">
                <figure class="media-left">
                    <p class="image is-64x64">
                        <img src="https://bulma.io/images/placeholders/128x128.png">
                    </p>
                </figure>
                <div class="media-content">
                    <input type="hidden" name="receptor" value="{{ chatActivo }}">
                    <input type="hidden" name="tutoria" value="{{ tutoriaActiva }}">
                    <div class="field">
                        <p class="control">
                            <textarea class="textarea" name="cuerpo" placeholder="Tu chat..."></textarea>
                        </p>
                    </div>
                    <nav class="level">
                        <div class="level-left">
                            <div class="level-item">
                                <button type="submit" name="action" class="button is-info">Enviar</buttom>
                            </div>
                        </div>
                    </nav>
                </div>
            </article>
        </form>

    </div>
    
    <div>
        <h1>Historial</h1>
    </div>
</div>

{% endblock %}