{% extends 'core/base.html' %}

{% block title %}
    TutoUN - NOMBRE TUTORIA
{% endblock %}

{% block content %}

<section>
    {% for tutoria in listatutorias %}

    <div class="containerTutoria">
        <label for="Tema">Tema:</label>
        <a href="{% url 'detalleTutoria' tutoria.id %}">
            <h1>{{tutoria.tema}}</h1>
        </a>
        <label for="Tema">Nombre:</label>
        <a>
            <h1>{{tutoria.nombre}}</h1>
        </a>
    </div>
    
    {% endfor %}

</section>
<aside>
    <div class="containerTutoria">
        <h1>work in progress</h1>
    </div>
</aside>

{% endblock %}
